{% extends "layout.html" %}
{% block body %}
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 col-md-12 ">
            <div class="panel panel-default">
                <div class="panel-heading">Delete Item</div>
                <div class="panel-body">
                        <h2>Are you sure to delete {{item}}?</h2>
                </div>
                <div class="panel-footer">
                    <form action="{{url_for('deleteItem', item=item)}}" method = "post">
                        <div class="form-group">
                        <button type="submit" class="btn btn-danger" id="submit" value="Delete">
                        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Delete</button>
                        <a href="{{url_for('showCatalog')}}" class="btn btn-info" role="button">No, Keep it</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>              
{% endblock %}
